@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: theme('fontFamily.hankenGrotesk');

}

html {
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  background-color: black;
  color: white;
}

body {
  background-color: white;
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet {
  margin: 0 5px;
  /* Increase horizontal margin between dots */
}


.custom-pagination .swiper-pagination-bullet {
  background: white;
  /* Set the color of the dots to white */
}

.custom-pagination .swiper-pagination-bullet-active {
  background: white;
  /* Active dot color */
}

@media (max-width: 768px) {
  .custom-pagination .swiper-pagination-bullet {
    background: black;
    /* Change to black for mobile */
  }

  .custom-pagination .swiper-pagination-bullet-active {
    background: black;
    /* Active dot color for mobile */
  }
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
    /* Adjust this value for the bounce height */
  }

  60% {
    transform: translateY(-5px);
    /* Adjust this value for the bounce height */
  }
}

.bounce {
  animation: bounce 4s infinite;
  /* 2 seconds duration, infinite repeat */
}